{%extends "base.html"%}
{% block content %}

    <!-- <h1>click on <a href="{{ url_for('register')}}">here</a> for register.html file or enter '/register' in the url.</h1> -->
    <div class="jumbotron text-center">
      <h1> Books Read by Shivan</h1>
    <form class="form-inline" action="{{url_for('book')}}" method="POST">
      <div class="input-group" style="margin: auto;">
        <input type="text" class="form-control" size="50" name="bookvalue" placeholder="Search for books by ISBN or title or author or by year" required>
        <div class="input-group-btn" style="margin-left: 1%;">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
  </div>
  <table class="table table-hover table-striped" style="width: 75%; margin: auto;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Isbn</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>
      {%for book in books%}
      <tr>
        
        <th scope="row"><a href="{{ url_for('get_book_details',id = book.id)}}" target="_blank">{{book.id}}</a></th>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.year}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {% endblock %}
  