<html>
  <head>
    <title>Book Reads by Shivan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #68cd9f;">
      <a class="navbar-brand" href="#">Books Read</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Page 1</a>
          </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          {%if flag%}
          <li class="nav-item mr-sm-4 active">
            <a class="nav-link" href="{{url_for('profile')}}">{{uname}}</a>
          </li>
            <li class="nav-item mr-sm-4 active">
              <a class="nav-link" href="{{url_for('logout')}}">Log out</a>
            </li>
            {%else%}
            <li class="nav-item mr-sm-4 active">
              <a class="nav-link" href="{{url_for('register')}}">Sign up</a>
            </li>
              <li class="nav-item mr-sm-4 active">
                <a class="nav-link" href="{{url_for('login')}}">Log in</a>
              </li>
              {%endif%}
          </ul>
      </div>
    </nav>
    <!-- <h1>click on <a href="{{ url_for('register')}}">here</a> for register.html file or enter '/register' in the url.</h1> -->
    <div class="jumbotron text-center">
      <h1> Books Read by Shivan</h1>
    <form class="form-inline" action="{{url_for('book')}}" method="POST">
      <div class="input-group" style="margin: auto;">
        <input type="text" class="form-control" size="50" name="bookvalue" placeholder="Search for books by ISBN or title or author or by year" required>
        <div class="input-group-btn" style="margin-left: 1%;">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
  </div>
  <table class="table table-hover table-striped" style="width: 75%; margin: auto;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Isbn</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>
      {%if flag%}
      {%for book in books%}
      <tr>
        <th scope="row">{{book.id}}</th>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.year}}</td>
      </tr>
      {%endfor%}
      {%endif%}
    </tbody>
  </table>
  </body>
</html>