<!DOCTYPE html>
<html>
    <head>
        <title>Registration Form</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>

<!-- <img src="{{ url_for('static', filename='images/registration-banner.png')}}"> -->
<div class="jumbotron text-center">
    <h1> Login Page</h1>
    </div>
<form action="{{ url_for('login') }}" method="POST">
    {% if flag %}
    <div class="error" style="color: red;">*Username or password you entered are incorrect. Please try again, if you don't remember password
        click on forgot password</div>
    {%else%}
        <div class="error"></div>
    {% endif %}
    <label id="lab" for="uname">User name:</label><br>
        <input type="text" id="uname" name="uname" required><br>
    <label id="lab" for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="pwd" required><br><br>
    <div class="text-center">
        <button class="btn btn-info" type="submit">Submit</button>
    </div>
</form> 
<div class="jumbotron text-center">
    <h6>New to the website? <a href="{{ url_for('register')}}">Register</a></h6>
    </div>

</body>
</html>