
.registerform{
    color: black;
    background-color: #68cd9f;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid black;
    padding: 50px;
    align-items: center;
    height: 550px;
}

#lab{
    font-size: 25px;
}
input{
    padding: 5px 0px;
    width: 100%;
}

#shelfbutton{
    width: 50%;
    margin-left: 25%;
}

img{
    height: 200px;
    width: 100%;
    margin-bottom: 1%;
}

.navitem{
    padding: 3px 0px;
    display: inline-block;
    color: white;
}

.tableitems{
    margin-left: 20%;
    margin-right: 20%;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 2vw;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

/* body {
    background: #222225;
    color: white
}

h1,
p {
    text-align: center
}

h1 {
    margin-top: 150px
}

p {
    font-size: 1.2rem
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 14px
    }

    p {
        font-size: 12px
    }
} */

.checked {
    color: orange;
    background-color:white;
    }